{% load marker_extra%}


<div class="well col-sm-12 big">
  <div class="row">
    <h4 class="col-sm-4">Selection</h4>
    <div class="col-sm-8">
      <div class="btn-group">
        <button class="btn btn-primary" onclick="tab()">Next</button>
        <button class="btn btn-primary" onclick="space()">Previous</button>
      </div>
      <button class="btn btn-warning" onclick="backSpace()">Remove</button>
  </div>

</div>
<hr class="intro-divider">

  <div class="row">
    <h4 class="col-sm-4">Position</h4>
    <div class="col-sm-8">
      <div class="btn-group">
        <button class="btn btn-primary col-sm-6" onclick="up()">Up</button>
        <button class="btn btn-primary col-sm-6" onclick="down()">Down</button>
      </div>
      <div class="btn-group">
      <button class="btn btn-primary col-sm-6" onclick="right()">Right</button>
      <button class="btn btn-primary col-sm-6" onclick="left()">Left</button>

  </div>
</div>
<!-- </div>
<hr class="intro-divider">

<div class="row">
  <h4 class="col-sm-4">Size</h4>
  <div class="col-sm-8">
    <div class="row">
      <h5 class="col-sm-4">Height</h5>
      <div class="btn-group">
      <button class="btn btn-primary" onclick="incrHeight()">+</button>
      <button class="btn btn-primary" onclick="decrHeight()">-</button>
    </div>
    </div>
    <div class="row">
      <h5 class="col-sm-4">Width</h5>
      <div class="btn-group">
      <button class="btn btn-primary" onclick="incrWidth()">+</button>
      <button class="btn btn-primary" onclick="decrWidth()">-</button>
    </div>
    </div>
</div>
</div> -->

</div>
