{% load marker_extra%}
<script>
function toggleMenu() {
  var menu = document.querySelector('.menu-container');
  var toggleBtn = document.querySelector('.toggle-menu-btn');

  if (menu.style.display === 'none') {
    menu.style.display = 'block';
    toggleBtn.innerText = 'Hide Menu';
  } else {
    menu.style.display = 'none';
    toggleBtn.innerText = 'Show Menu';
  }
}
</script>

<div class="menu-container" style="display: none; bottom: 0px; right: 0; position:fixed; z-index: 1000;">
  <div class="well" style="width: 350px;">
    <div class="row">
      <div class="col-12">
        <h4>Position</h4>
        <div class="btn-group">
          <button class="btn btn-primary" onclick="up()">Up</button>
          <button class="btn btn-primary" onclick="down()">Down</button>
          <button class="btn btn-primary" onclick="right()">Right</button>
          <button class="btn btn-primary" onclick="left()">Left</button>
          <button class="btn btn-primary" onclick="rotateCW()">CW</button>
          <button class="btn btn-primary" onclick="rotateCCW()">CCW</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h4>Selection</h4>
        <div class="btn-group">
          <button class="btn btn-primary" onclick="tab()">Next</button>
          <button class="btn btn-primary" onclick="space()">Previous</button>
          <button class="btn btn-warning" onclick="backSpace()">Remove</button>
          <button class="btn btn-warning" onclick="removePersonFromAll()">Remove All</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h4>Mark</h4>
        <div class="btn-group">
          <button class="btn btn-primary" onclick="personAction({'mark':true})">Complete</button>
          <button class="btn btn-primary" onclick="personAction({'mark':false})">Uncomplete</button>
        </div>
      </div>
    </div>

  {% include "includes_hit/side_menu.html" %}

  </div>
</div>



