<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">GT MARKER</a>
    </div>

    <div class="navbar-form">
      <div class="btn-group" role="group">
        <button class="btn btn-success" onclick="save();">Save</button>
        <button class="btn btn-info" onclick="load();">Load</button>
        <button class="btn btn-warning" onclick="load_prev();">Load Previous</button>
        <button class="btn btn-danger" onclick="clean();">Clear all</button>
        <button class="btn" data-toggle="modal" data-target="#myModal">Help</button>

        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Other<span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#" data-toggle="modal" data-target="#loadModal">Load from File</a></li>
          <li><a href="#" onclick="createVideo()">Create video</a></li>
          <li><a href="#" onclick="removeCompleteFlags()">Remove All Annotation Complete Flags</a></li>
        </ul>

        <button class="btn toggle-menu-btn" onclick="toggleMenu()">Show Menu</button>
        <button id="merge-boxes" class="btn toolbar-button" disabled>
          <i class="fas fa-object-group"></i> Merge
        </button>
      </div>

      <div class="btn-group" role="group">
        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
          Manage Cameras <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" id="cameraMenu">
          <!-- Camera menu items -->
        </ul>
      </div>

      <a href="#" id="copyBtn" class="btn btn-primary" onclick="copyPrevOrNext()">Copy Prev/Next</a>

      <div class="pull-right">
        <a href="#" id="changeF" class="btn btn-primary" onclick="changeFrame('prev', 12000)">0</a>
        <a href="#" id="changeF" class="btn btn-primary" onclick="changeFrame('prev',frame_inc*10)">&lt;&lt;</a>
        <a href="#" id="changeF" class="btn btn-primary" onclick="changeFrame('prev',frame_inc)">&lt;</a>
        <strong id="frameID" style="color: white;">Frame ID: {{frame_number}}&nbsp;&nbsp;</strong>
        <a href="#" id="changeF" class="btn btn-primary" onclick="changeFrame('next',frame_inc)">&gt;</a>
        <a href="#" id="changeF" class="btn btn-primary" onclick="changeFrame('next',frame_inc*10)">&gt;&gt;</a>
      </div>
      <p id="unsaved" class="pull-right" style="color:grey; padding-right: 10px;">Unsaved changes</p>
    </div>
  </div>
</nav>

{% include "includes_hit/help.html" %}
