{% load static %}
{% load gtm_hit_extra %}
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'gtm_hit/tuto.css' %}" />
  <style>#wi{
    color: red;
  }
  </style>
  <script type="text/javascript">
    var count = 0;
    var b1 = true;
    var b2 = true;
    var b3 = true;

    window.onload = function() {
      var d = document.getElementById("btnStart");
      d.className = d.className + " disabled";
    }
    function tab1() {
      if(b1) {
        count++;
        b1 = false;
      }
      enableStart();
    }
    function tab2() {
      if(b2) {
        count++;
        b2 = false;
      }
      enableStart();

    }
    function tab3() {
      if(b3) {
        count++;
        b3 = false;
      }
      enableStart();
    }
    function enableStart() {
      if(count > 2) {
        var d = document.getElementById("btnStart");
        if(d.className.indexOf("disabled") > -1) {
          d.className = d.className.replace(" disabled","");
        }
      }
    }
  </script>
</head>
<body>
  {% include "includes_hit/navbar.html" %}
  {% csrf_token %}
  <div class="intro-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="intro-message">
            <h2>Tutorial</h2>
            <hr class="intro-divider">
            <ul class="nav nav-tabs" id="tabContent">
              <li class="active"><a href="#task" data-toggle="tab">Task description</a></li>
              <li><a href="#keys" onclick="tab1()" data-toggle="tab">Keyboard shortcuts</a></li>
              <li><a href="#ex1" onclick="tab2()"  data-toggle="tab">Example 1</a></li>
              <li><a href="#ex2" onclick="tab3()"  data-toggle="tab">Example 2</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="task">
                <h3>Your task</h3>
                <p style="text-align: justify;">As previously mentionned, you will be asked to label images, i.e. to place bounding boxes around people. <br><br>You will see 7 images at the same time which corresponds to multiple views of a scene.
                  Try to put bounding boxes around all the people you can (some of them are not in the ground area, don't worry about them).
                <br><br>After having labeled a frame, the bounding boxes you placed will stay on the next frame and turn yellow.
                  Since the people do not move a lot between two consecutive frames, you will only have to switch between the bounding boxes ( with <kbd>tab</kbd> ) and adjust their position using the arrow keys.
                <br>The task will end once you have labeled 10 frames.
                <br><br>Use your left click to place a bounding box on an image. The bottom of the bounding box will be centered on the point you click on, so aim at the feets.
                <br><br>The red dot at the bottom of the bouding box corresponds to a point on the ground. To correctly place a bounding box, this point should be placed at the center of the person, on the ground. <small>(See <strong><a href="#ex1" onclick="tab2()"  data-toggle="tab">Example 1</a></strong>)</small>
                <br><br>Use the arrow keys to move a bounding box on the images. Each view has a different orientation. Look at the small keys on the top left of each image to know in which direction goes each arrow. <small>(See <strong><a href="#ex2" onclick="tab3()"  data-toggle="tab">Example 2</a></strong>)</small>
                <br><br>Take a look at <strong class="text-danger">all the tutorial tabs</strong> before being allowed to start. The second example contains and summarizes everything you need to know</p>
                <small>Note: Since accuracy is very important, do not hesitate to use the <kbd>z</kbd> key to zoom on the selected bounding box.</small>
              </div>

              <div class="tab-pane" id="keys">
                <br>
                <p><strong><kbd>Left click</kbd></strong><small> (on an image) </small><strong>:</strong><small> place a bounding box.</small></p>
                <p><strong><kbd>Arrows</kbd></strong> : <small>move the selected bounding box.</small></p>
                <p><strong><kbd>z</kbd></strong> : <small>zoom on the selected bounding box (press again to zoom out).</small></p>
                <p><strong><kbd>Backspace</kbd></strong> : <small>remove the selected bounding box.</small></p>
                <p><strong><kbd>Space</kbd></strong> / <strong><kbd>Tab</kbd></strong> : <small>select the next/previous the bounding box.</small></p>
                <p><strong><kbd>e</kbd></strong> : <small>validate the placement of a <kbd style="color:yellow">yellow</kbd> bounding box.</small></p>
                <p><strong><kbd>h</kbd></strong> : <small>hide/show the orientation helper.</small></p>
                <p><strong><kbd>t</kbd></strong> : <small>hide/show the ground area limits.</small></p>
                <p><strong><kbd style="color:cyan">Cyan</kbd> box</strong> : selected bounding box</p>
                <p><strong><kbd>White</kbd> box</strong> : standard bounding box</p>
                <p><strong><kbd style="color:yellow">Yellow</kbd> box</strong> : Unvalidated bounding box</p>
                <p class="text-danger">The bounding box should surround the person on all images it appears. (see Example 1 tab)</p>
              </div>

              <div class="tab-pane" id="ex1">
                <br>
                <center><p class="text-danger">The bounding box should surround the person on all images it appears.</p>

                <p><strong>Good</strong></p>
                <p class="small">All the bounding boxes sourround the lady</p>
                <img class="img-responsive" src="{% static 'gtm_hit/images/good.png' %}"></img>
                <p><strong>Bad</strong></p>
                <p class="small">The box seems correctly placed on the top right image, but not in the other images.
                  In this case, you have to adjust the position using the <kbd>arrows</kbd> to obtain the results seen on the "Good" example</p>
                  <img class="img-responsive" src="{% static 'gtm_hit/images/bad.png' %}"></img>

                </div>

                <div class="tab-pane" id="ex2">
                  <br>
                  <center><p class="text-danger">The bounding box should surround the person on all images it appears.</p>

                  <p><small>Note that the orientation helper and the blue arrows have another orientation on every frame since the angle changes.</small></p>
                  <img class="img-responsive" src="{% static 'gtm_hit/images/ex2.png' %}"></img>
                  </div>


              </div>

              <hr class="intro-divider">
              <ul class="list-inline">
                <li>
                  <a href="/gtm_hit/{{workerID}}/processTuto" id="btnStart" class="btn btn-primary btn-lg button-name">Start</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>

    </div>
    {% include "includes_hit/footer.html" %}

  </body>

  </html>
