*.pyc
*.pom
day2
invision
./gtm_hit/static/gtm_hit/dset
./gtm_hit/static/gtm_hit/labels
./gtm_hit/labels/invision
gtm_hit/static/gtm_hit/dset
gtm_hit/static/gtm_hit/labels/
gtm_hit/labels/invision
gtm_hit/labels
logfile
invision2
invision3
# vim swap files
*.sw[po]
.DS_Store
dump*
motmetrics
*.mp4
13apr
logfile
scout/*
exports/*
**.json
**.dump
*.jpg