{% load marker_extra%}


<div class="well col-sm-12 big">
  <h4 class="col-sm-12">Infos</h4>
  <div class="col-sm-12">
  <label for="pHeight" class="col-sm-5">Person height:</label>
    <div class="panel col-sm-2" id="pHeight">-1</panel>
</div>
</div>
  <div class="col-sm-12">
  <label for="pWidth" class="col-sm-5">Person width:</label>
    <div class="panel col-sm-2" id="pWidth">-1</panel>
</div>
</div>

<div class="col-sm-12">
<label for="pID" class="col-sm-5">Person ID:</label>
    <input class="panel col-sm-2" id="pID"/>
    <div class="col-sm-1"></div>
    <button class="btn btn-xs btn-primary col-sm-2" onclick="changeID()">Save ID</button>
</div>
</div>
