{% load static %}
{% load gtm_hit_extra %}
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'marker/index.css' %}" />
  <style>#wi{
    color: red;
    }
    </style>
  </head>
<body>
  {% include "includes/navbar.html" %}
  {% csrf_token %}
   <div class="intro-header">
       <div class="container">
           <div class="row">
               <div class="col-sm-12">
                   <div class="intro-message">
                       <h1>Ground truth marker</h1>
                       <hr class="intro-divider">
                       <h3>Task description</h3>
                       <p>Hi fellow worker and welcome on our ground truth marker framework!</p>
                      <p>The task we ask you to complete will be very simple: putting bounding boxes around people whilst being as accurate as possible.</p>

                       <hr class="intro-divider">
                       <ul class="list-inline">
                           <li>
                               <a href="{% url 'frame' %}" id="btnStart" class="btn btn-primary btn-lg button-name">Start</a>
                           </li>
                           <li>
                               <a href="#" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"><span class="button-name">Tutorial</span></a>
                           </li>
                       </ul>
                   </div>
               </div>
           </div>
       </div>
   </div>
   {% include "includes/footer.html" %}

   {% include "includes/tuto.html" %}



</body>

</html>
