{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'gtm_hit/index.css' %}" />

</head>
<body>
  {% include "includes_hit/navbar.html" %}
  {% csrf_token %}
   <div class="intro-header">
       <div class="container">
           <div class="row">
               <div class="col-sm-12">
                   <div class="intro-message">
                       <h1>Ground truth marker</h1>
                       <hr class="intro-divider">
                       <h3>No Worker ID detected</h3>
                       <p>Please enter your worker ID and dataset name.</p>
                      <hr class="intro-divider">
                      <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                          <label for="wID">Worker ID: </label>
                          <input id="wID" class="well-sm" type="text" name="wID" value="{{ workerID }}"><br>
                          <label for="datasetName">Dataset Name: </label>
                          <input id="datasetName" class="well-sm" type="text" name="datasetName" value="{{ datasetName }}"><br>
                        </div>
                        <button class="btn btn-primary" type="submit">Done</button>
                      </form>
                      <p style="font-size:12px">Your worker ID should only contain CAPITAL letters and numbers.</p>


                   </div>
               </div>
           </div>

       </div>

   </div>
   {% include "includes_hit/footer.html" %}

</body>

</html>
